ul{
    list-style-type: none;
    padding: 0px;
}

.todo-input{
border: none;
background-color: transparent;
color: black;
}

.todo-input:focus{
    bottom: none;
    outline: none;
    border-bottom: 2px solid orangered ;
}

